1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
## Solution 1a

for i in range (1,101):
    if i%3==0 and i%5==0:
        print (i,"MickeyMouse")
    elif i%3==0:
        print (i,"Mickey")
    elif i%5==0:
        print (i,"Mouse")
    else:
        print (i)

1
2
3 Mickey
4
5 Mouse
6 Mickey
7
8
9 Mickey
10 Mouse
11
12 Mickey
13
14
15 MickeyMouse
16
17
18 Mickey
19
20 Mouse
21 Mickey
22
23
24 Mickey
25 Mouse
26
27 Mickey
28
29
30 MickeyMouse
31
32
33 Mickey
34
35 Mouse
36 Mickey
37
38
39 Mickey
40 Mouse
41
42 Mickey
43
44
45 MickeyMouse
46
47
48 Mickey
49
50 Mouse
51 Mickey
52
53
54 Mickey
55 Mouse
56
57 Mickey
58
59
60 MickeyMouse
61
62
63 Mickey
64
65 Mouse
66 Mickey
67
68
69 Mickey
70 Mouse
71
72 Mickey
73
74
75 MickeyMouse
76
77
78 Mickey
79
80 Mouse
81 Mickey
82
83
84 Mickey
85 Mouse
86
87 Mickey
88
89
90 MickeyMouse
91
92
93 Mickey
94
95 Mouse
96 Mickey
97
98
99 Mickey
100 Mouse

In [10]:
# Solution 1b
MickeyMouse_List = []

# Rellenar mi lista como en el inciso a
for i in range (1,101):
    if i%3==0 and i%5==0:
        MickeyMouse_List.append("MickeyMouse")
    elif i%3==0:
        MickeyMouse_List.append("Mickey")
    elif i%5==0:
        MickeyMouse_List.append("Mouse")
    else:
        MickeyMouse_List.append(i)

# Cambiar los nombres con otro loop but inside the new list called DonaldDuck_List

DonaldDuck_List = ["DonaldDuck" if j=="MickeyMouse" 
     else "Donald" if j=="Mickey" 
     else "Duck" if j=="Mouse"
     else j
 for j in MickeyMouse_List]

# Check the list
# DonaldDuck_List

# Convertir lista a tupla
NotListAnymore = tuple(DonaldDuck_List)
#type(NotListAnymore)
NotListAnymore

(1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'DonaldDuck',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'DonaldDuck',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'DonaldDuck',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'DonaldDuck',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'DonaldDuck',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'DonaldDuck',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald',
 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [19]:
# Solution 2

def swap_function(x,y):
    return (y,x)

swap_function("Hola", "Andr√©s")
swap_function(25,81)

(81, 25)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [28]:
# Solution 3

import math as mt 

def euclidean_distance(u,v):
    return mt.sqrt( (u[0] - v[0])**2 + (u[1] - v[1])**2 )

u = (3,0)
v = (0,4)
euclidean_distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [66]:
s = "Gabriela Landinez Rangel"
s = s.lower()

d = {}

for character in s:
    #print (character)
    if character not in d:
        d[character] = 1
    else :
        d[character] = d[character] + 1 
        
print(d)

#PENDIENTE REVISAR

{'g': 2, 'a': 4, 'b': 1, 'r': 2, 'i': 2, 'e': 3, 'l': 3, ' ': 2, 'n': 3, 'd': 1, 'z': 1}

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one