1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
## Solution 1a

for i in range (1,101):
    if i%3==0 and i%5==0:
        print (i,"MickeyMouse")
    elif i%3==0:
        print (i,"Mickey")
    elif i%5==0:
        print (i,"Mouse")
    else:
        print (i)

1
2
3 Mickey
4
5 Mouse
6 Mickey
7
8
9 Mickey
10 Mouse
11
12 Mickey
13
14
15 MickeyMouse
16
17
18 Mickey
19
20 Mouse
21 Mickey
22
23
24 Mickey
25 Mouse
26
27 Mickey
28
29
30 MickeyMouse
31
32
33 Mickey
34
35 Mouse
36 Mickey
37
38
39 Mickey
40 Mouse
41
42 Mickey
43
44
45 MickeyMouse
46
47
48 Mickey
49
50 Mouse
51 Mickey
52
53
54 Mickey
55 Mouse
56
57 Mickey
58
59
60 MickeyMouse
61
62
63 Mickey
64
65 Mouse
66 Mickey
67
68
69 Mickey
70 Mouse
71
72 Mickey
73
74
75 MickeyMouse
76
77
78 Mickey
79
80 Mouse
81 Mickey
82
83
84 Mickey
85 Mouse
86
87 Mickey
88
89
90 MickeyMouse
91
92
93 Mickey
94
95 Mouse
96 Mickey
97
98
99 Mickey
100 Mouse

In [2]:
# Solution 1b
MickeyMouse_List = []

# Rellenar mi lista como en el inciso a
for i in range (1,101):
    if i%3==0 and i%5==0:
        MickeyMouse_List.append("MickeyMouse")
    elif i%3==0:
        MickeyMouse_List.append("Mickey")
    elif i%5==0:
        MickeyMouse_List.append("Mouse")
    else:
        MickeyMouse_List.append(i)

# Cambiar los nombres con otro loop but inside the new list called DonaldDuck_List

DonaldDuck_List = ["DonaldDuck" if j=="MickeyMouse" 
     else "Donald" if j=="Mickey" 
     else "Duck" if j=="Mouse"
     else j
 for j in MickeyMouse_List]

# Check the list
# DonaldDuck_List

# Convertir lista a tupla
NotListAnymore = tuple(DonaldDuck_List)
#type(NotListAnymore)
NotListAnymore

(1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'DonaldDuck',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'DonaldDuck',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'DonaldDuck',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'DonaldDuck',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'DonaldDuck',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'DonaldDuck',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald',
 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
# Solution 2

def swap_function(x,y):
    return (y,x)

swap_function("Hola", "Andrés")
swap_function(25,81)

(81, 25)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
# Solution 3

import math as mt 

def euclidean_distance(u,v):
    return mt.sqrt( (u[0] - v[0])**2 + (u[1] - v[1])**2 )

u = (3,0)
v = (0,4)
euclidean_distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization.

In [5]:
# string sugerida por el profe
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [6]:
# Solution 4
#s = "Gabriela Landinez Rangel"
s = s.lower()

d = {}

for character in s:
    #print (character)
    if character not in d:
        d[character] = 1
    else :
        d[character] = d[character] + 1 
        
print(d)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

In [7]:
# también podemos hacer que ignore los espacios en blanco

s = "En este string hay 11 espacios que no se van a contar"
s = s.lower()

d = {}

for character in s:
    #print (character)
    if character==" ":
        continue
    elif character not in d:
        d[character] = 1
    else :
        d[character] = d[character] + 1 
        
print(d)

{'e': 6, 'n': 5, 's': 5, 't': 3, 'r': 2, 'i': 2, 'g': 1, 'h': 1, 'a': 5, 'y': 1, '1': 2, 'p': 1, 'c': 2, 'o': 3, 'q': 1, 'u': 1, 'v': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [8]:
# lista sugerida por el profe
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [9]:
# Solution 5

a = [1,2,23,4,4,5]

def def_unique(a):
    
    counts = {} # diccionario para contar cuantas veces aparece cada número
    unique = [] # lista donde se van a añadir los números que aparecen una sola vez
    
    for num in a:
        if num in counts: 
            counts[num] = counts[num]+1
        else:
            counts[num] = 1

    for num in counts:
        if counts[num]==1:
            unique.append(num)
            
    return f"En la lista hay {len(unique)} números que se repiten una sola vez. Son los siguientes: {unique}"

# prueba
def_unique(a)
def_unique(l)

'En la lista hay 37 números que se repiten una sola vez. Son los siguientes: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]'

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [10]:
# Solution 6

def square(x):
    return x**2

def cube(x):
    return x**3
    
def sixth_power(x):
    return square(cube(x))

#prueba
sixth_power(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [11]:
# Solution 7a

cubes = []

for x in range (0,11):
    cubes.append(x**3)

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
# Solution 7b

numbers = [x for x in range(11)]

#list_comprehension = [expression for item in iterable if condition == True]
cubes = [number**3 for number in numbers]
print(cubes)

#or simply
easy_cubes = [x**3 for x in range(11)]
print(easy_cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [13]:
pythagorean_triples = [] #lista vacía para añadir los triples

for a in range(1, 100):
    for b in range(1, 100):
        for c in range(1, 100):
            
            if a**2 + b**2 == c**2:
                
                if (b, a, c) not in pythagorean_triples: # si la tripleta con a y b volteados no está, la agrega. Si no, continua
                    pythagorean_triples.append((a, b, c))

# Convertimos a tupla la lista
pythagorean_triples = tuple(pythagorean_triples)
print(pythagorean_triples)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [14]:
# Solution 9

# esta función va a tomar la tupla, suma su entradas y la devuelve de tal forma que ahora la suma sea igual a 1.
# para eso hay que dividir cada entrada en el valor de la suma inicial
def normalize(t):
    
    total = sum(t) # sum funciona con cualquier iterable
    lista_normalizada = [] # lista vacía
    
    for x in t:
        lista_normalizada.append(x/total)  # añadimos cada número dividido por la suma

    
    return tuple(lista_normalizada) # devolvemos la lista convertida en tupla

In [15]:
#prueba
print(normalize((2, 3, 5)))

(0.2, 0.3, 0.5)